/* ========
   BASIC
========== */
ul li {
    list-style: none;
}
/* ========
   HEADER
========== */

/* TOP HEADER */
.header {
    height: 50px;
    padding-top: 13px;
    background: #e4e4e4;
}
.top-header-middle {
    text-align: center;
}
.top-header-middle ul li {
  display: inline-block;
  padding-left: 10px;
}
.top-header-right {
    text-align: right;
}
/* ========
   MAIN MENU
========== */
.main-menu {
    background: #c7c6c6;
}
.bg-light {
    background-color: transparent !important;
}











/* ========
   FOOTER
========== */
.footer {
    padding: 40px 0;
    background: #e4e4e4;
}
